In [1]:
import pandas as pd
from pandas import DataFrame

In [2]:
titanic = pd.read_csv("titanic.csv")
titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
titanic.Survived.value_counts()

0    545
1    342
Name: Survived, dtype: int64

In [6]:
# Predict most common value
if titanic.Survived.value_counts()[0] > titanic.Survived.value_counts()[1]:
    guess = 0
else:
    guess = 1

predicted = pd.Series([guess] * len(titanic))
(titanic.Survived - predicted).abs().sum()    # Error count (trivial here)

342

In [7]:
(titanic.Survived - predicted).abs().mean()     # Error rate

0.3855693348365276

In [12]:
1 - (titanic.Survived - predicted).abs().mean()     # Correct prediction rate

0.6144306651634723

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
titanic_train, titanic_test = train_test_split(titanic,          # Dataset to split (array-like)
                                               test_size=0.1)    # How large test set should be; in this case, 10% of
                                                                 # the whole (could also be an integer for fixed size)

In [15]:
titanic_train

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
236,1,2,Miss. Marjorie Collyer,female,8.0,0,2,26.2500
780,0,3,Mr. William Ali,male,25.0,0,0,7.0500
637,0,3,Mr. Hans Peder Jensen,male,20.0,0,0,7.8542
714,1,2,Miss. Edwina Celia Troutt,female,27.0,0,0,10.5000
306,0,2,Mr. Samuel Abelson,male,30.0,1,0,24.0000
45,0,3,Mr. Denis Lennon,male,20.0,1,0,15.5000
397,1,2,Mrs. William H (Jessie L) Trout,female,28.0,0,0,12.6500
578,1,1,Mrs. John Borland (Marian Longstreth Morris) T...,female,39.0,1,1,110.8833
138,0,1,Mr. Victor Giglio,male,24.0,0,0,79.2000
825,1,1,Mrs. George Nelson (Martha Evelyn) Stone,female,62.0,0,0,80.0000
99,0,3,Miss. Matilda Petranec,female,28.0,0,0,7.8958
537,1,1,Miss. Harriet R Crosby,female,36.0,0,2,71.0000
797,1,2,Mrs. Harvey (Charlotte Annie Tate) Collyer,female,31.0,1,1,26.2500
665,0,3,Mr. Jacob Cook,male,43.0,0,0,8.0500
603,0,3,Mr. Milan Karaic,male,30.0,0,0,7.8958
479,0,3,Mr. Richard Henry Rouse,male,50.0,0,0,8.0500
436,0,2,Mr. Johan Henrik Johannesson Kvillner,male,31.0,0,0,10.5000
186,1,1,Mr. Charles Hallace Romaine,male,45.0,0,0,26.5500
32,1,3,Miss. Mary Agatha Glynn,female,18.0,0,0,7.7500
737,0,1,Mr. Tyrell William Cavendish,male,36.0,1,0,78.8500
109,0,1,Mr. Walter Chamberlain Porter,male,47.0,0,0,52.0000
770,1,2,Mrs. Elizabeth (Eliza Needs) Hocking,female,54.0,1,3,23.0000
389,1,3,Mr. Carl Olof Jansson,male,21.0,0,0,7.7958
189,1,2,Mrs. (Rosa) Pinsky,female,32.0,0,0,13.0000
710,0,3,Mr. August Viktor Larsson,male,29.0,0,0,9.4833
392,1,3,Mrs. Hjalmar (Agnes Charlotta Bengtsson) Sands...,female,24.0,0,2,16.7000
240,1,3,Miss. Katherine Murphy,female,18.0,1,0,15.5000
873,0,3,Mr. Nedelio Petroff,male,19.0,0,0,7.8958
697,1,1,Mrs. John Jacob (Madeleine Talmadge Force) Astor,female,18.0,1,0,227.5250
120,0,3,Mr. Leonard Charles Moore,male,19.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
40,0,3,Mrs. Johan (Johanna Persdotter Larsson) Ahlin,female,40.0,1,0,9.4750
796,0,2,Mr. Martin Ponesell,male,34.0,0,0,13.0000
321,1,2,Mrs. Albert Francis (Sylvia Mae Harbaugh) Cald...,female,22.0,1,1,29.0000
705,1,1,Miss. Alice Cleaver,female,22.0,0,0,151.5500
428,1,3,Mrs. Percival (Florence Kate White) Thorneycroft,female,33.0,1,0,16.1000
61,0,1,Mr. Henry Birkhardt Harris,male,45.0,1,0,83.4750
74,0,3,Mr. Sigurd Hansen Moen,male,25.0,0,0,7.6500
75,0,3,Mr. Ivan Staneff,male,23.0,0,0,7.8958
371,0,1,Mr. Sante Ringhini,male,22.0,0,0,135.6333
121,0,2,Mr. Nicholas Nasser,male,32.5,1,0,30.0708
633,0,3,Mr. Antti Gustaf Leinonen,male,32.0,0,0,7.9250
795,0,3,Mrs. Jean Baptiste (Rosalie Paula Govaert) Van...,female,30.0,1,1,24.1500
464,0,1,Mr. John Montgomery Smart,male,56.0,0,0,26.5500
12,0,3,Mr. William Henry Saundercock,male,20.0,0,0,8.0500
832,0,3,Mr. Jakob Pasic,male,21.0,0,0,8.6625
57,1,2,Miss. Constance Mirium West,female,5.0,1,2,27.7500
409,0,3,Mr. Henry Hart,male,27.0,0,0,6.8583
364,1,1,Mrs. Frank Manley (Anna Sophia Atkinson) Warren,female,60.0,1,0,75.2500
586,0,3,Mr. Joseph Murdlin,male,22.0,0,0,8.0500
14,0,3,Miss. Hulda Amanda Adolfina Vestrom,female,14.0,0,0,7.8542
639,0,3,Miss. Margit Elizabeth Skoog,female,2.0,3,2,27.9000
47,0,3,Mr. Youssef Samaan,male,16.0,2,0,21.6792
366,1,3,Miss. Annie Jermyn,female,22.0,0,0,7.7500
648,1,2,Miss. Elsie Doling,female,18.0,0,1,23.0000
318,0,3,Mr. Samuel Dennis,male,22.0,0,0,7.2500
645,0,3,Mr. Edward Willey,male,21.0,0,0,7.5500
473,0,2,Mr. Peter Henry Renouf,male,34.0,1,0,21.0000
561,0,3,Miss. (Marion Ogden) Meanwell,female,62.0,0,0,8.0500
352,0,3,Mr. Wazli Yousif,male,23.0,0,0,7.2250
471,0,3,Miss. Ida Sofia Strandberg,female,22.0,0,0,9.8375

In [16]:
titanic_train.shape

(798, 8)

In [17]:
titanic_test

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
151,0,3,Mr. Alfonzo Meo,male,55.50,0,0,8.0500
807,0,3,Mr. James Lester,male,39.00,0,0,24.1500
594,0,3,Mr. Alfred Johnson,male,49.00,0,0,0.0000
662,0,2,Mr. Lewis Hickman,male,32.00,2,0,73.5000
330,0,1,Mr. George Edward Graham,male,38.00,0,1,153.4625
692,0,2,Mr. Charles Henry Chapman,male,52.00,0,0,13.5000
596,1,1,Sir. Cosmo Edmund Duff Gordon,male,49.00,1,0,56.9292
261,0,1,Mr. William Harrison,male,40.00,0,0,0.0000
122,1,2,Miss. Susan Webber,female,32.50,0,0,13.0000
357,1,3,Miss. Helen Mary Mockler,female,23.00,0,0,7.8792
234,0,3,Miss. Alice Phoebe Harknett,female,21.00,0,0,7.5500
872,0,3,Mr. Alfred Ossian Gustafsson,male,20.00,0,0,9.8458
85,0,3,Mr. William Neal Ford,male,16.00,1,3,34.3750
243,0,3,Mr. Sleiman Attalah,male,30.00,0,0,7.2250
522,0,3,Mr. James Farrell,male,40.50,0,0,7.7500
398,1,3,Mr. Juha Niskanen,male,39.00,0,0,7.9250
728,0,2,Mr. Robert J Knight,male,41.00,0,0,0.0000
609,1,3,Miss. Margaret Jane Murphy,female,18.00,1,0,15.5000
249,0,3,Mr. James George Reed,male,18.00,0,0,7.2500
775,1,1,Mrs. Edward Scott (Elisabeth Walton McMillan) ...,female,43.00,0,1,211.3375
353,0,3,Mr. Leo Peter Vanden Steen,male,28.00,0,0,9.5000
393,0,3,Mr. Erik Johansson,male,22.00,0,0,7.7958
380,0,3,Mr. Juho Tikkanen,male,32.00,0,0,7.9250
686,1,1,Miss. Georgette Alexandra Madill,female,15.00,0,1,211.3375
521,0,3,Mr. Fared Kassem,male,18.00,0,0,7.2292
663,0,2,Mr. Reginald Fenton Butler,male,25.00,0,0,13.0000
751,1,2,Master. Viljo Hamalainen,male,0.67,1,1,14.5000
338,1,2,Master. Edmond Roger Navratil,male,2.00,1,1,26.0000
93,0,3,Mr. Daniel Coxon,male,59.00,0,0,7.2500
239,0,3,Miss. Thamine Zabour,female,19.00,1,0,14.4542
...,...,...,...,...,...,...,...,...
732,0,3,Mrs. Edward (Margaret Ann Watson) Ford,female,48.00,1,3,34.3750
283,0,3,Mr. Ivan Stankovic,male,33.00,0,0,8.6625
502,0,1,Mr. Victor de Satode Penasco y Castellana,male,18.00,1,0,108.9000
219,1,3,Mr. Victor Francis Sunderland,male,16.00,0,0,8.0500
469,1,2,Mrs. Edwy Arthur (Ada Mary Worth) West,female,33.00,1,2,27.7500
422,0,3,Mr. Phillippe Wiseman,male,54.00,0,0,7.2500
608,0,3,Mr. Jose Neto Jardin,male,21.00,0,0,7.0500
117,0,1,Mr. Quigg Edmond Baxter,male,24.00,0,1,247.5208
51,1,1,Mrs. Henry Sleeper (Myna Haxtun) Harper,female,49.00,1,0,76.7292
600,0,3,Mr. Ernst William Torber,male,44.00,0,0,8.0500
94,0,3,Mr. Charles Joseph Shorney,male,22.00,0,0,8.0500
19,1,3,Mrs. Fatima Masselmani,female,22.00,0,0,7.2250
218,0,2,Mr. Walter Harris,male,30.00,0,0,10.5000
647,0,3,Mr. Mito Mitkoff,male,23.00,0,0,7.8958
490,0,1,Mr. Ramon Artagaveytia,male,71.00,0,0,49.5042
802,0,1,Mr. Thomas Jr Andrews,male,39.00,0,0,0.0000
530,1,3,Mrs. Catherine (Catherine Rizk) Peter,female,24.00,0,2,22.3583
5,0,3,Mr. James Moran,male,27.00,0,0,8.4583
361,0,3,Mr. Adola Asim,male,35.00,0,0,7.0500
496,0,3,Mr. Olof Svensson,male,24.00,0,0,7.7958
105,1,3,Miss. Anna Kristine Salkjelsvik,female,21.00,0,0,7.6500
440,1,2,Ms. Encarnacion Reynaldo,female,28.00,0,0,13.0000
556,1,3,Mrs. Guillaume Joseph (Emma) de Messemaeker,female,36.00,1,0,17.4000
652,0,2,Mr. Leonard Mark Hickman,male,24.00,2,0,73.5000
44,0,3,Mr. William John Rogers,male,30.00,0,0,8.0500
2,1,3,Miss. Laina Heikkinen,female,26.00,0,0,7.9250
35,0,1,Mr. Alexander Oskar Holverson,male,42.00,1,0,52.0000
26,0,3,Mr. Farred Chehab Emir,male,26.00,0,0,7.2250
505,0,3,Mr. Henry Margido Olsen,male,28.00,0,0,22.5250
534,1,1,Miss. Bertha LeRoy,female,30.00,0,0,106.4250

In [18]:
titanic_test.shape

(89, 8)

In [19]:
def table_lookup_predictor(x, table):
    """Implements the table-lookup algorithm"""
    
    # Get most common label
    default = table.Survived.value_counts().argmax()
    # Get similar individuals
    similar_tab = table.loc[(table["Pclass"] == x["Pclass"]) &\
                            (table["Sex"] == x["Sex"]) &\
                            (table["Siblings/Spouses Aboard"] == x["Siblings/Spouses Aboard"]) &\
                            (table["Parents/Children Aboard"] == x["Parents/Children Aboard"]), "Survived"]
    if len(similar_tab) == 0:
        # If table is empty (no "similar" individuals), guess the most common label
        return default
    else:
        return similar_tab.value_counts().argmax()

In [20]:
titanic_train.iloc[0,:]

Survived                                        1
Pclass                                          2
Name                       Miss. Marjorie Collyer
Sex                                        female
Age                                             8
Siblings/Spouses Aboard                         0
Parents/Children Aboard                         2
Fare                                        26.25
Name: 236, dtype: object

In [21]:
# Demonstration 1
table_lookup_predictor(titanic_train.iloc[0,:], titanic_train)    # Perfect!

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  from ipykernel import kernelapp as app

1

In [22]:
tlu_train_predicted = titanic_train.apply(table_lookup_predictor, 1,
                                          table=titanic_train)    # Make predictions on training set
tlu_train_predicted

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  from ipykernel import kernelapp as app

236    1
780    0
637    0
714    1
306    0
45     0
397    1
578    1
138    0
825    1
99     1
537    1
797    1
665    0
603    0
479    0
436    0
186    0
32     1
737    0
109    0
770    1
389    0
189    1
710    0
392    1
240    1
873    0
697    1
120    0
      ..
40     1
796    0
321    1
705    1
428    1
61     0
74     0
75     0
371    0
121    0
633    0
795    0
464    0
12     0
832    0
57     1
409    0
364    1
586    0
14     1
639    0
47     0
366    1
648    1
318    0
645    0
473    0
561    1
352    0
471    1
Length: 798, dtype: int64

In [23]:
from sklearn.metrics import accuracy_score

In [24]:
accuracy_score(y_true=titanic_train.Survived,    # True values
               y_pred=tlu_train_predicted)    # Predicted values

0.8120300751879699

In [25]:
tlu_test_predicted = titanic_test.apply(table_lookup_predictor, 1,
                                        table=titanic_train)    # Make predictions on test set

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  from ipykernel import kernelapp as app

In [26]:
accuracy_score(y_true=titanic_test.Survived,    # True values
               y_pred=tlu_test_predicted)

0.8426966292134831

In [27]:
from sklearn.model_selection import KFold
import numpy as np

In [28]:
kf = KFold(n_splits=10)    # Prepare for cross-validation, creating an object for managing splits

In [30]:
# Preview; note that these are NumPy arrays
for train, test in kf.split(titanic_train):
    print("Training Indices:")
    print(train)
    print("\nTest Indices")
    print(test)
    print("\n----\n")

Training Indices:
[ 80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97
  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115
 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133
 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151
 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169
 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187
 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205
 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223
 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241
 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259
 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277
 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295
 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313
 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331
 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349
 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367
 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385
 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403
 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421
 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439
 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457
 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475
 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493
 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529
 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547
 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565
 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583
 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601
 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619
 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637
 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655
 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673
 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709
 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727
 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745
 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763
 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781
 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797]

Test Indices
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79]

----

Training Indices:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79 160 161 162 163 164 165 166 167 168 169
 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187
 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205
 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223
 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241
 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259
 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277
 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295
 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313
 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331
 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349
 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367
 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385
 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403
 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421
 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439
 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457
 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475
 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493
 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529
 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547
 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565
 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583
 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601
 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619
 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637
 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655
 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673
 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709
 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727
 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745
 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763
 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781
 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797]

Test Indices
[ 80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97
  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115
 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133
 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151
 152 153 154 155 156 157 158 159]

----

Training Indices:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 240 241
 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259
 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277
 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295
 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313
 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331
 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349
 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367
 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385
 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403
 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421
 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439
 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457
 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475
 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493
 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529
 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547
 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565
 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583
 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601
 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619
 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637
 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655
 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673
 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709
 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727
 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745
 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763
 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781
 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797]

Test Indices
[160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177
 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195
 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213
 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231
 232 233 234 235 236 237 238 239]

----

Training Indices:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 320 321 322 323 324 325 326 327 328 329 330 331
 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349
 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367
 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385
 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403
 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421
 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439
 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457
 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475
 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493
 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529
 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547
 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565
 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583
 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601
 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619
 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637
 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655
 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673
 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709
 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727
 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745
 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763
 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781
 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797]

Test Indices
[240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257
 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275
 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293
 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311
 312 313 314 315 316 317 318 319]

----

Training Indices:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 400 401 402 403
 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421
 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439
 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457
 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475
 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493
 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529
 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547
 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565
 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583
 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601
 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619
 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637
 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655
 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673
 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709
 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727
 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745
 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763
 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781
 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797]

Test Indices
[320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337
 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355
 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373
 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391
 392 393 394 395 396 397 398 399]

----

Training Indices:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 480 481 482 483 484 485 486 487 488 489 490 491 492 493
 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511
 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529
 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547
 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565
 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583
 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601
 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619
 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637
 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655
 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673
 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691
 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709
 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727
 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745
 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763
 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781
 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797]

Test Indices
[400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417
 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435
 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453
 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471
 472 473 474 475 476 477 478 479]

----

Training Indices:
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89

In [31]:
def table_lookup_predictor_2(x, table, age):
    """Implements the table-lookup algorithm with ages after cufoff"""
    
    # Get most common label
    default = table.Survived.value_counts().argmax()
    # Get similar individuals
    similar_tab = table.loc[(table["Pclass"] == x["Pclass"]) &\
                            (table["Sex"] == x["Sex"]) &\
                            (table["Siblings/Spouses Aboard"] == x["Siblings/Spouses Aboard"]) &\
                            (table["Parents/Children Aboard"] == x["Parents/Children Aboard"]) &\
                            ((table["Age"] < age) == (x["Age"] < age)) , "Survived"]
    if len(similar_tab) == 0:
        # If table is empty (no "similar" individuals), guess the most common label
        return default
    else:
        return similar_tab.value_counts().argmax()

In [32]:
ages = [10, 20, 30, 40, 50, 60]
performance = dict()

for age in ages:
    cv_perf = list()
    for train, test in kf.split(titanic_train):
        # Get predicted values in "test" data using "train" data
        predicted = titanic_train.iloc[test,:].apply(table_lookup_predictor_2, 1, table=titanic_train.iloc[train,:],
                                                    age=age)
        actual = titanic_train.loc[:,"Survived"].iloc[test]
        # Add performance to a list
        cv_perf.append(accuracy_score(y_true=actual, y_pred=predicted))
    performance[age] = cv_perf

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  app.launch_new_instance()

In [33]:
DataFrame(performance)

         10        20        30        40        50        60
0  0.825000  0.812500  0.812500  0.812500  0.787500  0.762500
1  0.737500  0.712500  0.725000  0.750000  0.762500  0.725000
2  0.825000  0.800000  0.750000  0.750000  0.750000  0.725000
3  0.750000  0.762500  0.812500  0.787500  0.812500  0.787500
4  0.800000  0.812500  0.812500  0.787500  0.762500  0.775000
5  0.837500  0.812500  0.787500  0.812500  0.825000  0.825000
6  0.775000  0.750000  0.775000  0.762500  0.762500  0.750000
7  0.762500  0.737500  0.725000  0.725000  0.775000  0.750000
8  0.759494  0.734177  0.797468  0.810127  0.772152  0.759494
9  0.848101  0.860759  0.810127  0.810127  0.848101  0.810127

In [34]:
DataFrame(performance).mean()

10    0.792009
20    0.779494
30    0.780759
40    0.780775
50    0.785775
60    0.766962
dtype: float64